@import 'vant/lib/index.css';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body,#app{
  width: 100%;
  height: 100%;
}
@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}